.Weather {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  border: 1px solid #dadde1;
  border-radius: 6px;
  padding: 16px;
  color: rgb(110, 109, 109);
}
.Weather h1 {
  font-size: 28px;
  font-weight: 100;
  margin: 10px 0 0 0;
  line-height: 30px;
  margin-left: 16px;
}
.Weathr ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400px;
}
.Weather .units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400px;
  position: relative;
  top: -34px;
  line-height: 1;
}

.form-control {
  margin-top: 10px;
  margin-left: 10px;
}
.btn-primary {
  margin-top: 10px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.float-left {
  float: left !important;
}
